**/*.pyc
__pycache__/
*.pyo
.DS_Store
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.dmypy.json
dmypy.json
pyrightconfig.json
report.html
htmlcov/
.pytest_cache/
uploads/*
models/*.pkl
__pypackages__/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.mypy_cache/
.dmypy.json
.pnpm-debug.log
.DS_Store
Thumbs.db

